@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
   
}

<div class="bannerObject external fixedBanner" id="bannerDivbanner1" style="min-height: 549px; top: 0px; left: -537.499px; right: 0px; position: absolute; overflow: hidden; z-index: -999999; padding: 0px;" data-image-scale="true"><img class="bannerObject" width="1257px" style="position: absolute; left: 0px; margin: 0px; width: 100%;" src="/images/MadCoHomePagePic.jpeg" data-is-delayed="false" alt=""></div>