@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ValleyVisionSolution</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ValleyVisionSolution.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">

    <style>

        header {
            text-align: center;
            background-color: #274c77;
        }

            header h1 {
                margin: 0 auto;
                color: white;
                background-color: #274c77;
                font-size: x-large;
            }


            header h2 {
                margin: 0;
                background-color: #274c77;
            }

            header h4 {
                font-size: large;
                margin-bottom: 0;
            }

        .nav {
            color: lightgrey;
            width: 100%;
            font-size: 1.2em;
            font-weight: bold;
            text-align: center;
            display: block;
            padding: 16px;
        }


        .inline-link {
            display: inline-block;
            margin-right: 10px; /* Adjust spacing between links as needed */
        }

        .navbar-toggler-icon {
            display: inline-block;
            width: 1.5em;
            height: 1.5em;
            vertical-align: middle;
            color: white;
            background-image: var(--bs-navbar-toggler-icon-bg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
            background-color: transparent;
        }


        *, ::after, ::before {
            box-sizing: border-box;
        }



        [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
            cursor: pointer;
        }



        .navbar-toggler {
            padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
            font-size: var(--bs-navbar-toggler-font-size);
            line-height: 1;
            color: white;
            background-color: transparent;
            border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
            border-radius: var(--bs-navbar-toggler-border-radius);
            transition: var(--bs-navbar-toggler-transition);
        }

        .bg-body-secondary {
            background-color: #274c77 !important;
        }

        button, select {
            text-transform: none;
            color: white;
        }

        button, input, optgroup, select, textarea {
            margin: 0;
            font-family: inherit;
            font-size: inherit;
            line-height: inherit;
            color: white;
        }



        user agent stylesheet

        button {
            font-style:;
            font-variant-ligatures:;
            font-variant-caps:;
            font-variant-numeric:;
            font-variant-east-asian:;
            font-variant-alternates:;
            font-variant-position:;
            font-weight:;
            font-stretch:;
            font-size:;
            font-family:;
            font-optical-sizing:;
            font-kerning:;
            font-feature-settings:;
            font-variation-settings:;
            text-rendering: auto;
            color: white;
            letter-spacing: normal;
            word-spacing: normal;
            line-height: normal;
            text-transform: none;
            text-indent: 0px;
            text-shadow: none;
            text-align: center;
            cursor: default;
        }


        .button-26 {
            appearance: button;
            background-color: #274c77;
            border: 1px solid #274c77;
            border-radius: 4px;
            box-sizing: border-box;
            color: #FFFFFF;
            cursor: pointer;
            font-size: 15px;
            line-height: 1.15;
            overflow: visible;
            padding: 4px 8px;
            position: relative;
            text-align: center;
            text-transform: none;
            transition: all 80ms ease-in-out;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            width: fit-content;
            -webkit-text-fill-color: white;
        }

            .button-26:disabled {
                opacity: .5;
            }

            .button-26:focus {
                outline: 0;
            }

            .button-26:hover {
                text-decoration: underline;
            }

            .button-26:active {
                text-decoration: underline;
            }

        .nav {
            background-color: lightgrey;
            -webkit-text-fill-color: #274c77;
        }


        .navbar-nav .nav-item .nav-link, .navbar-nav .nav-item .navbar-text {
            color: #274c77 !important;
        }

        .dropdown-item {
            color: #274c77;
        }

        #custom-navbar {
            color: white;
            background-color: #274c77; /* Consistent background color */
        }

            #custom-navbar .navbar-brand.navbar-icon {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-right: 20px; /* Space between items */
            }

                #custom-navbar .navbar-brand.navbar-icon i {
                    color: white; /* Icon color */
                }

                #custom-navbar .navbar-brand.navbar-icon span {
                    color: white; /* Text color */
                    display: block; /* Makes text appear under the icon */
                }

            #custom-navbar .navbar-center {
                color: white; /* Center text color */
                font-weight: bold;
                text-align: center;
            }

            /* Your existing styles... */
            #custom-navbar .dropdown-toggle::after {
                color: white; /* Sets the dropdown arrow color to white */
            }

        .admin-dropdown-toggle {
            display: flex;
            align-items: center;
            flex-direction: row !; /* Align items horizontally */
        }

        .badge {
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(50%, -50%);
            border-radius: 50%;
        }

        .dropdown-toggle {
            position: relative;
        }

        #taskDropdown {
            transform: translateX(-63%);
        }

    </style>

</head>

<body>
    @* <!-- Logout Form --> *@
    <div class="modal fade" id="LogoutForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form method="post" asp-page="/Index">
                    <input type="hidden" name="triggeredBy" id="triggeredBy" value="">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Logout</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row mb-3">
                            @*<div class="col-md-6">*@
                            <div>Are you sure you want to logout?</div>
                            @*</div>*@
                        </div>
                    </div>
                    <div class="modal-footer" style="border-top:none">
                        <button type="submit" class="btn btn-primary" asp-page-handler="LogoutHandler">Logout &rarr;</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    @* <!-- End Logout Form --> *@
    @{
        string currentPath = Context.Request.Path.Value.ToLowerInvariant();
        bool showNavbar = !currentPath.Contains("/citizenview");
    }
    @if (showNavbar)
    {
        <header>
            <nav id="custom-navbar" class="navbar navbar-expand-lg navbar-light bg-body-secondary">
                <div class="container-fluid d-flex justify-content-between">

                    <!-- Left items for logged in users with icons and text -->
                    @if (Context.Session.GetInt32("UserID").HasValue)
                    {
                        <div class="d-flex">
                            <a href="/Index" class="navbar-brand navbar-icon">
                                <i class="bi bi-house-door-fill"></i>
                                <span>Home</span>
                            </a>
                            <a href="/Initiatives/InitiativesPage" class="navbar-brand navbar-icon">
                                <i class="bi bi-lightbulb-fill"></i>
                                <span>Initiatives</span>
                            </a>

                            @if (DB.DBClass.CheckUserType(Context.Session.GetInt32("UserID")) != "Admin")
                            {
                                <a class="navbar-brand navbar-icon">
                                    <i class="bi bi-lightbulb-fill" style="color:#274c77; !important"></i>
                                    <span style="color:#274c77; !important">Initiatives</span>
                                </a>
                            }
                            @if (DB.DBClass.CheckUserType(Context.Session.GetInt32("UserID")) == "Admin")
                            {
                                <div class="dropdown navbar-item navbar-icon">
                                    <a href="#" class="navbar-brand navbar-icon dropdown-toggle" id="navbarDropdownMenuLink" role="button"
                                       data-bs-toggle="dropdown" aria-expanded="false">
                                        <div>
                                            <i class="bi bi-gear-fill"></i>
                                            <span>Admin</span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <li><a class="dropdown-item" href="/Resources/AdminResources">Manage Resources</a></li>
                                        <li><a class="dropdown-item" href="/ManageProfiles/ManageProfilesPage">Manage Users</a></li>
                                    </ul>
                                </div>
                            }
                        </div>
                    }

                    <!-- Centered title -->
                    @if (ViewData["Title"] == "Home")
                    {
                        <h1 style="-webkit-text-fill-color:#274c77">Madison County Government</h1>
                    }
                    else
                    {
                        <h1 class="navbar-center" style="padding-left:0 !important">
                            Madison County Government
                        </h1>
                    }

                    <!-- Right items for logged in users -->
                    @if (Context.Session.GetInt32("UserID").HasValue)
                    {
                        <div class="d-flex">
                            <div class="dropdown navbar-item navbar-icon">
                                <a href="#" class="navbar-brand navbar-icon dropdown-toggle" role="button" id="notificationDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-bell-fill"></i>
                                    <span>Notifications</span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="notificationDropdown" id="taskDropdown">
                                    @await Component.InvokeAsync("TasksDropdown")
                                </ul>
                            </div>
                            <a href="/ManageProfiles/SingleProfilePage" class="navbar-brand navbar-icon">
                                <i class="bi bi-person-circle"></i>
                                <span>Profile</span>
                            </a>
                            <a href="#" class="navbar-brand navbar-icon" data-bs-toggle="modal" data-bs-target="#LogoutForm">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Logout</span>
                            </a>
                        </div>
                    }

                    <!-- Login button for guests -->
                    @if (!Context.Session.GetInt32("UserID").HasValue)
                    {
                        <div class="navbar-item">
                            <div class="button-26">
                                <a class="nav-link" asp-area="" asp-page="/Login/LoginPage" style="color:white">Login</a>
                            </div>
                        </div>
                    }
                </div>
            </nav>



            @{
                if (Context.Session.GetString("InitName") != null)

                {

                    <nav style="background-color: lightgrey !important" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">

                        <div class="container">

                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">

                                <span class="navbar-toggler-icon"></span>

                            </button>

                            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                                <ul class="navbar-nav flex-grow-1">

                                    <li class="nav-item">

                                        @await Component.InvokeAsync("Navbar", new { initID = Context.Session.GetInt32("InitID") ?? 0 })


                                    </li>

                                </ul>

                            </div>

                        </div>

                    </nav>

                }

                @if (ViewData["ShowHeader"]?.ToString() == "True")
                {
                    <nav class="nav">Initiatives</nav>
                }

                @if (ViewData["Title"]?.ToString() == "Users")
                {
                    <nav class="nav">Manage Users</nav>
                }

                @if (ViewData["AdminR"]?.ToString() == "True")
                {
                    <nav class="nav">Admin Resources</nav>
                }


            }

        </header>
    }
    <div class="container">
        <main role="main" class="pb-3">

            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ValleyVisionSolution - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <!-- Include these before your closing </body> tag -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>



    @* <!-- Bootstrap Select JavaScript --> *@

    @await RenderSectionAsync("Scripts", required: false)
    @* <div id="content">
    @RenderBody()
    </div> *@


</body>
</html>
