@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ValleyVisionSolution</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ValleyVisionSolution.styles.css" asp-append-version="true" />
</head>
<body>
    <!-- Logout Form -->
    <div class="modal fade" id="LogoutForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form method="post" asp-page="/Index">
                    <input type="hidden" name="triggeredBy" id="triggeredBy" value="">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Logout</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row mb-3">
                            @*<div class="col-md-6">*@
                            <div>Are you sure you want to logout?</div>
                            @*</div>*@
                        </div>
                    </div>
                    <div class="modal-footer" style="border-top:none">

                        <button type="submit" class="btn btn-primary" asp-page-handler="LogoutHandler">Logout &rarr;</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <!-- End Logout Form -->


    <header>
        <nav style="background-color: #2e4c74 !important" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-page="/Index">Home</a>
                        </li>
                       
                        @{
                            if (Context.Session.GetInt32("UserID").HasValue)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-page="/Initiatives/InitiativesPage">Initiatives</a>
                                </li>
                                
                                if (DB.DBClass.CheckUserType(Context.Session.GetInt32("UserID")) == "Admin")
                                {
                                    <li class="nav-item">
                                            <a class="nav-link text-white" asp-area="" asp-page="/ManageProfiles/ManageProfilesPage">Manage Users</a>
                                    </li>
                                }

                                <li class="nav-item">
                                    <button class="nav-link text-white" style="background-color: #2e4c74; border: none; color: white;" data-bs-toggle="modal" data-bs-target="#LogoutForm">
                                        @* <img src="~/images/logout-icon.png" style="height:30px" />*@ Logout
                                    </button>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-page="/Login/LoginPage">Login</a>
                                </li>
                            }
                        }
                    </ul>

                    @if (Context.Session.GetInt32("Username").HasValue)
                    {
                        <h5 class="position-relative align-middle" style="-webkit-text-fill-color: white;">
                            @Context.Session.GetString("Username")
                        </h5>
                    }
                </div>
            </div>
        </nav>
        
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ValleyVisionSolution - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>