@using ValleyVisionSolution.Pages.DataClasses
@model List<ValleyVisionSolution.Pages.DataClasses.Task>


<style>
    .active-nav-link {
        text-decoration: underline;
    }

    .initiative-name {
        font-weight: bold;
        font-size: 1.4em; /* Adjust font size as needed */
        margin-right: 20px; /* Adds space to the right of the initiative name */
        text-decoration: none;
        color: black;
    }
    /* Ensure all items align properly */
    .navbar-nav .nav-item .nav-link, .navbar-nav .nav-item .navbar-text {
        align-items: center;
        display: flex;
        color: black;
        font-size: 1.2em;
    }
</style>

@if (Model != null && Model.Count > 0)
{
    @foreach (var task in Model)
    {
        <li><a class="dropdown-item" href="#">@task.TaskName - Due: @task.TaskDueDateTime.ToShortDateString()</a></li>
    }
}
